.input-combobox {
    background-color: #FFF;
}

.input-combobox .text {
    background-color: #FFF;
    margin: 2px 0 0 7px;
    padding: 0;
    width: 215px;
    height: 20px;
    outline: medium none;
    border: 0 none;
    line-height: 20px;
    *float: left !important;
}

.input-combobox .empty-items {
    width: 237px;
}

.input-combobox b {
    position: absolute;
    top: 10px;
    right: 8px;
    overflow: hidden;
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid dashed dashed;
    border-color: #666666 transparent transparent;
    font-size: 0;
    line-height: 0;
    transition: transform 0.2s ease-in 0s;
}

.input-combobox .layer-trigger-selected b {
    top:6px\9;
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
    -webkit-transform-origin:50% 30%;
    -moz-transform-origin:50% 30%;
    -o-transform-origin:50% 30%;
    transform-origin:50% 30%;
}

.input-combobox-list {
    position: absolute;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2px 0;
    max-height: 260px;
    border: 1px solid #CCC;
    border-top: none;
    background-color: white;
    line-height: 25px;
}

.input-combobox-list li {
    position: relative;
    overflow: hidden;
    height: 25px;
    line-height: 25px;
}

.input-combobox-list a {
    display: block;
    padding: 0 10px;
    width: 224px;
    color: #333;
    text-align: left;
    white-space: nowrap;
}

.input-combobox-list a:hover {
    background-color: #E2EDFB;
    text-decoration: none;
}