.ui-tab {    
    padding-left: 10px;
    border-bottom: 1px solid #DDD;
}

.ui-tab .tab-list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 35px;
    border-left: 1px solid #DDD;
    background-color: #FFF;
}

.ui-tab .tab-unit {
    float: left;
}

.ui-tab .tab-unit .tab {
    display: block;
    padding: 4px 10px;
    max-height: 26px;
    border: 1px solid #DDD;
    border-left: none;
    background-color: #F7F7F7;
    color: #333;
    font-size: 14px;
    line-height: 26px;
}

.ui-tab .tab-unit .tab:hover {
    background-color: #EEE;
}

.ui-tab .tab-unit .tab-on {
    border-width: 1px;
    border-style: solid;
    border-color: #3F6B97 #DDD #FFF;
    border-top-width: 2px;
    border-left: none;
    background-color: #FFF;
    text-decoration: none;
    line-height: 25px;
}