.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: "."; 
}

.clearfix {
  display: inline-block; 
}

* html .clearfix {
  height: 1%; 
}

/* Hides from IE-mac \*/
.clearfix {
  display: block; 
}

.clear {
  clear: both;
  height: 0;
  font-size: 0; 
}

.ellipsis {
  display: inline-block;
  overflow: hidden;
  width: 222px;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.l {
  float: left;
}

.r {
  float: right; 
}

.gray {
  color: gray; 
}

.red {
  color: red; 
}

.green {
  color: green;
}

.hide {
  display: none;
}

.bfc {
  overflow: hidden;
  *zoom: 1;
}

.mt20 {
  margin-top: 20px;
}

.nopl {
  padding-left: 0;
}

menu, ol, ul {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  width: 940px;
}

#tmpst {
  position: relative;
  min-height: 100%;
  background: #F9FAF7;
}

.tmpst-page {
  position: relative;
  padding-bottom: 6px;
}

a.internal-home:hover {
  text-decoration: none;
}

/* tmpst-footer */

.tmpst-footer {
  padding: 8px 0 48px;
}

.tmpst-footer .tmpst-footer-primary {
  float: left;
  margin-right: 0;
  height: 32px;
}

.tmpst-footer .tmpst-footer-column a {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.tmpst-footer h6 {
  font-size: 11.9px;
  margin: 10.5px 0;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 21px;
  text-rendering: optimizelegibility;
}

.tmpst-footer .tmpst-footer-primary p {
  /* width: 300px; */
}

.tmpst-footer .tmpst-footer-primary .tmpst-footer-copyright {
  color: #555;
}

/* tmpst-header */
.tmpst-header {
  padding-top: 5px;
  height: 50px;
  border-bottom: 1px solid #CCC;
}

.tmpst-header .tmpst-header-primary {
  position: relative;
  left: 20px;
  float: left;
}

.tmpst-header .tmpst-header-primary .tmpst-logo {
  display: inline-block;
  margin-top: 11px;
  width: 108px;
  height: 17px;
  background: url(2https://d2wvvaown1ul17.cloudfront.net/site-static/pages/home/template/logo.svg);
  background-repeat: no-repeat;
  text-decoration: none;
}

.tmpst-header .tmpst-header-secondary {
  text-align: right;
}

.tmpst-header .tmpst-header-secondary .tmpst-header-link,
.tmpst-header .tmpst-header-secondary .tmpst-header-link.internal-home,
.tmpst-header .tmpst-header-secondary .tmpst-header-university-label {
  display: inline-block;
  padding: 7px 10px 8px;
  border: solid transparent 1px;
  border-bottom: none;
  color: #717171;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tmpst-header .tmpst-header-secondary .tmpst-header-link:last-of-type {
  padding-right: 0;
}

.tmpst-header .tmpst-header-secondary .tmpst-header-link:hover,.tmpst-header .tmpst-header-secondary a.tmpst-header-link.internal-home:hover,.tmpst-header .tmpst-header-secondary .tmpst-header-link.popup-opened {
  color: #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.tmpst-header-popup {
  border-top: solid rgba(0,0,0,0.1) 1px;
  border-right: solid rgba(0,0,0,0.1) 1px;
  border-bottom: solid rgba(0,0,0,0.35) 2px;
  border-left: solid rgba(0,0,0,0.1) 1px;
  background: #fff;
  text-align: right;
}

.tmpst-header-popup a {
  display: block;
  padding: 6px 12px;
  color: #717171;
  font-size: 14px;
  line-height: 1.5;
}

.tmpst-header-popup a:hover,.tmpst-header-popup a:focus {
  background-color: #3a6e8f;
  color: #fff;
}

.tmpst-full-canvas {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 15px;
  margin-left: -3.1914895%;
  padding: 30px 30px 48px;
  width: 106.382979%;
  height: 100%;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.25);
  box-shadow: 0 1px 2px 1px rgba(0,0,0,0.25);
}


/* overlay */
.tmpst-overlay {
  background: #fff;
  opacity: .75;
  -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
}

.tmpst-overlay-dark {
  background: #000;
  opacity: .75;
  -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
}

.services select {
  width: 30rem;
}

i {
  margin-right: 10px;
}

.validation-error {
  color: red;
}



.instances-container {
  display: table;
  border: 1px solid #cbcbcb;
  border-spacing: 0;
  border-collapse: collapse;
}

.instances-container .row {
  display: table-row;
}

.instances-container .header-group {
  display: table-header-group;
  background: #E0E0E0;
  color: #000;
  vertical-align: bottom;
  text-align: left;
}

.instances-container .row-group {
  display: table-row-group;
}

.instances-container .cell {
  display: table-cell;
  padding: 1em;
  border-bottom: 1px solid #cbcbcb;
}

.instances-container .number-cell {
  padding: 4px 6px;
  width: 1em;
  color: red;
  text-align: center;
}

