/** sprite: common; sprite-image: url('decorator/common-${md5}.png'); */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; 
}

.clearfix {
    display: inline-block; 
}

* html .clearfix {
    height: 1%; 
}

/* Hides from IE-mac \*/
.clearfix {
    display: block; 
}

.clear {
    clear: both;
    font-size: 0;
    height: 0; 
}

.ellipsis {
    display:inline-block;
    white-space: nowrap;
    width: 222px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.l {
    float: left;
}

.r {
    float: right; 
}

.gray {
    color: gray; 
}

.red {
    color: red; 
}

.green {
    color: green;
}

.hide {
    display: none;
}

.bfc {
    overflow: hidden;
    *zoom: 1;
}

.mt20 {
    margin-top: 20px;
}

.nopl {
    padding-left: 0;
}

menu, ol, ul {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 48rem;
    width: 90%;
}

.tmpst-header-popup {
    font-family: "sofiapro-light", Arial, sans-serif;
    border-left: #000;
    border-left: solid rgba(0, 0, 0, 0.1) 1px;
    border-right: #000;
    border-right: solid rgba(0, 0, 0, 0.1) 1px;
    border-top: #000;
    border-top: solid rgba(0, 0, 0, 0.1) 1px;
    border-bottom: #000;
    border-bottom: solid rgba(0, 0, 0, 0.35) 2px;
    background: #fff;
    text-align: right;
}

.tmpst-header-popup a {
    font-size: 14px;
    padding: 6px 12px;
    display: block;
    color: #717171;
    line-height: 1.5;
}

.tmpst-header-popup a:hover,.tmpst-header-popup a:focus {
    color: #fff;
    background-color: #3a6e8f;
}

.tmpst-overlay {
    background: #fff;
    opacity: .75;
    -ms-filter:progid: DXImageTransform.Microsoft.Alpha(Opacity=75);
    filter: alpha(opacity=75);
}

.tmpst-overlay-dark {
    background: #000;
    opacity: .75;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
    filter: alpha(opacity=75);
}

.services .label {
    font-size: 24px;
}

.services .select {
    width: 100%;
}

.services .input-combobox {
    width: 400px;
}

.services .input-combobox .text {
    width: 393px;
}

.services .pure-table {
    width: 100%;
    table-layout: fixed;
}

.services .pure-table td:first-child {
    width: 130px;
}


i {
    margin-right: 10px;
}

.table .number-column {
    width: 1em;
    color: red;
    text-align: center;
}

.table .checkbox-column {
    width: 1em;
}

.table .operation-column {
    border-left: 1px solid #E5E5E5;
}

.table .operation-column .button {
    margin-right: 3px;
}



