.container
  .pure-u-1
    .tmpst-footer-primary.pure-u-5-12
      p Simple Introduction
      p.Tmpst-footer-copyright © 2014 Tmpst Inc. All Rights Reserved.
    .pure-u-7-12
      .pure-u-1
        div.tmpst-footer-column.pure-u-1-4
          h6 Company
          a.tmpst-footer-link.internal-home(href="/dashboard") Dashboard
          a.tmpst-footer-link.internal-home(href="/vms") VMS
          a.tmpst-footer-link.internal-home(href="/services/create") Create DB
          a.tmpst-footer-link.internal-home(href="/services/list") DATABASES
        div.tmpst-footer-column.pure-u-1-4
          h6 Company
          a.tmpst-footer-link.internal-home(href="/dashboard") Dashboard
          a.tmpst-footer-link.internal-home(href="/vms") VMS
          a.tmpst-footer-link.internal-home(href="/services/create") Create DB
          a.tmpst-footer-link.internal-home(href="/services/list") DATABASES
        div.tmpst-footer-column.pure-u-1-4
          h6 Company
          a.tmpst-footer-link.internal-home(href="/dashboard") Dashboard
          a.tmpst-footer-link.internal-home(href="/vms") VMS
          a.tmpst-footer-link.internal-home(href="/services/create") Create DB
          a.tmpst-footer-link.internal-home(href="/services/list") DATABASES
        div.tmpst-footer-column.pure-u-1-4
          h6 Company
          a.tmpst-footer-link.internal-home(href="/dashboard") Dashboard
          a.tmpst-footer-link.internal-home(href="/vms") VMS
          a.tmpst-footer-link.internal-home(href="/services/create") Create DB
          a.tmpst-footer-link.internal-home(href="/services/list") DATABASES