.container
  .row
    .tmpst-footer-primary.col-md-5
      p Simple Introduction
      p.tmpst-footer-copyright © 2014 Tmpst Inc. All Rights Reserved.
    .col-md-7
      .row
        .tmpst-footer-column.col-md-3
          h6 Company
          a.tmpst-footer-link.internal-home(href="/dashboard") Dashboard
          a.tmpst-footer-link.internal-home(href="/vms") VMS
          a.tmpst-footer-link.internal-home(href="/services/create") Create DB
          a.tmpst-footer-link.internal-home(href="/services/list") DATABASES
        .tmpst-footer-column.col-md-3
          h6 Company
          a.tmpst-footer-link.internal-home(href="/dashboard") Dashboard
          a.tmpst-footer-link.internal-home(href="/vms") VMS
          a.tmpst-footer-link.internal-home(href="/services/create") Create DB
          a.tmpst-footer-link.internal-home(href="/services/list") DATABASES
        .tmpst-footer-column.col-md-3
          h6 Company
          a.tmpst-footer-link.internal-home(href="/dashboard") Dashboard
          a.tmpst-footer-link.internal-home(href="/vms") VMS
          a.tmpst-footer-link.internal-home(href="/services/create") Create DB
          a.tmpst-footer-link.internal-home(href="/services/list") DATABASES
        .tmpst-footer-column.col-md-3
          h6 Company
          a.tmpst-footer-link.internal-home(href="/dashboard") Dashboard
          a.tmpst-footer-link.internal-home(href="/vms") VMS
          a.tmpst-footer-link.internal-home(href="/services/create") Create DB
          a.tmpst-footer-link.internal-home(href="/services/list") DATABASES
