- var tabItems = tabItems || [{id: '1', url: '/services', label: 'Services'}, {url: '/admin', label: 'Admin', id: '2'}]
- var currentTabId = '1'

.ui-tab
    ul.tab-list
        each tab in tabItems
            if currentTabId == tab.id
                li.tab-unit
                    a.tab-on.tab(href="#{tab.url}")= tab.label
            else
                li.tab-unit
                    a.tab(href="#{tab.url}")= tab.label
