.hide.confirm-navigation.modal
  .modal-header
    h2.text Confirm Navigation
  .modal-body
    .confirm-navigation-message
    div Are you sure you want to leave this page?
  .modal-footer
    button.button.confirm-navigation-stay(data-modal-close) Stay on this Page
    button.button.btn-danger.confirm-navigation-leave(data-modal-close) Leave this Page