span.account-name= user.name 
a.tmpst-header-link.tmpst-header-account(tabindex="0",role="button",aria-haspopup="true",aria-expanded="false",aria-owns="tmpst-header-about-popup",data-popup="#tmpst-header-about-popup",data-popup-bind-open="mouseenter",data-popup-item="a",data-popup-direction="se")
    |关于&nbsp;▾
|
a(href='#{user.logoutUrl}') logout


#tmpst-header-about-popup.hide.tmpst-header-popup
    a(data-popup-close="data-popup-close", href="/", class="internal-home")
        | Home
    a(data-popup-close="data-popup-close", href="/about", class="internal-home")
        | About
