.container
  .row.tmpst-full-canvas
    .tabs(data-js-ui-tabs)
div(data-readme='privacy-update', data-readme-show-count='10', data-readme-show-until-closed='data-readme-show-until-closed', data-readme-expires='June 1, 2019', style='visibility: visible; display: none;')
  div
    span 已经更新了其隐私政策。了解更多
    a(href='about', data-readme-close='data-readme-close', class='internal-home') 点击这里查看
  .readme-close-icon(data-readme-close='data-readme-close')
    i.fa.fa-times
