.container
  .pure-u-1.tmpst-full-canvas
    .tabs.mt20(data-js-ui-tabs)
    div
      h3.label(data-section="create") CREATE A DATABASE
      form#instance-form.pure-form.pure-form-aligned
        fieldset
          .pure-control-group
            label(for="type") TYPE
            select.pure-input-2-3(name="type", id="type")
                  option MySQL 5.6
                  option MSSQL 2012
          .pure-control-group
            label(for="DESCRIPTION") DESCRIPTION
            select.pure-input-2-3(name="description", id="description")
              option Basic: Dedicate server, shared VM, 256MB memory, 2560MB storage, 30 connections
          .pure-control-group
            label(for="database") DB
            input.pure-input-1-3(type="text", placeholder="DB", name="database", id="database")
          .pure-control-group
            label(for="password") LOGIN PASSWORD
            input.pure-input-1-3(type="password", placeholder="LOGIN PASSWORD", name="password", id="password")
          .pure-control-group
            label(for="password-repeat") CONFIRM PASSWORD
            input.pure-input-1-3(type="password", placeholder="CONFIRM PASSWORD", name="password-repeat", id="password-repeat")
          .pure-control-group
            label
            a.pure-button.pure-button-active.create-instance
                            i.fa.fa-plus 
                            | CREATE
          .validation-error
      h3.label(data-section="list") MY DATABASES
      #instances-container.instances-container
        .header-group
          .row.head-row
            .cell.number-cell
            .cell DB
            .cell TYPE
            .cell PASSWORD
        .row-group
