.container
  .tabs.mt20(data-js-ui-tabs)
  .pure-u-1.services
    h3.label CREATE A DATABASE
    table.table.pure-table.pure-table-horizontal
      tbody
        tr
          td TYPE
          td
            select.select
              option MySQL 5.6
              option MS SQL 2012
        tr
          td SIZE
          td
            select.select
              option Basic: Dedicate server, shared VM, 256MB memory, 2560MB storage, 30 connections
        tr
          td DB ALIAS
          td
            .input-combobox.layer-trigger
              input.text.ellipsis(placeholder="DB ALIAS", maxlength="32")
        tr
          td LOGIN PASSWORD
          td
            .input-combobox.layer-trigger
              input.text.ellipsis(placeholder="password", maxlength="32")
        tr
          td CONFIRM PASSWORD
          td
            .input-combobox.layer-trigger
              input.text.ellipsis(placeholder="confirm password", maxlength="32")
        tr
          td
          td
            a.pure-button.pure-button-active
              i.fa.fa-plus 
              | CREATE

    h3.label MY DATABASES
    table.table.pure-table.pure-table-horizontal
      thead
        th.checkbox-column
          input(type="checkbox")
        th.number-column
        th DB
        th Version
        th Plan
        th Created
        th(align="center", width="350px") Operations
      tbody
        td.checkbox-column
          input(type="checkbox")
        td.number-column 1
        td(title="")
          .ellipsis.item-content Steve's DB
        td(title="")
          .ellipsis.item-content MSSQL 2012
        td(title="")
          .ellipsis.item-content Basic
        td(title="")
          .ellipsis.item-content 2/18/2014
        td.operation-column(align="center")
          a.button.pure-button BACKUP
          a.button.pure-button DELETE
          a.button.pure-button CHANGE PASSWORD
