.container
  .tmpst-full-canvas
    .tabs(data-js-ui-tabs)
    div
      h3.label(data-section='create') CREATE A DATABASE
      form#instance-form.form-horizontal(role='form')
        fieldset
          .form-group
            label.col-sm-2.control-label(for='type') TYPE
            .col-sm-10
              select.form-control.col-sm-10(name='type', id='type')
                option MySQL 5.6
                option MSSQL 2012
          .form-group
            label.col-sm-2.control-label(for='DESCRIPTION') DESCRIPTION
            .col-sm-10
              select.form-control(name='description', id='description')
                option Basic: Dedicate server, shared VM, 256MB memory, 2560MB storage, 30 connections
          .form-group
            label.col-sm-2.control-label(for='database') DB
            .col-sm-4
              input.form-control(type='text', placeholder='DB', name='database', id='database')
          .form-group
            label.col-sm-2.control-label(for='password') LOGIN PASSWORD
            .col-sm-4
              input.form-control(type='password', placeholder='LOGIN PASSWORD', name='password', id='password')
          .form-group
            label.col-sm-2.control-label(for='password-repeat') CONFIRM PASSWORD
            .col-sm-4
              input.form-control(type='password', placeholder='CONFIRM PASSWORD', name='password-repeat', id='password-repeat')
          .form-group
            .col-sm-offset-2.col-sm-10
              a.btn.btn-default.create-instance
                i.fa.fa-plus
                | CREATE
          .validation-error
      h3.label(data-section='list') MY DATABASES
      #instances-container.instances-container
        .header-group
          .row.head-row
            .cell.number-cell
            .cell DB
            .cell TYPE
            .cell PASSWORD
            .cell CREATE TIME
        .row-group
