meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
title Backbone+Requirejs Bootstrap
meta(name='viewport' content='width=device-width, initial-scale=1')
<!-- build:css(.tmp) #{config.url.app_assets}css/common.css -->
link(type='text/css' href='#{config.url.app_assets}css/common.css' rel='stylesheet')
<!-- endbuild -->
link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet')